*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  margin-top: 80px;
}

.navbar{
    background: #000;
    color: white;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    
}

.menu li{
    position: relative;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    display: block;
}

.menu a:hover{
    color:#00bfff;
}


/*Sub navegación*/
.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: #333;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    min-width: 700px;
    padding: 20px;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.dropdown:hover .dropdown-content {
  display: grid;
}

.columna h4 {
  color: #00bfff;
  margin-bottom: 10px;
  border-bottom: 2px solid #00bfff;
  padding-bottom: 5px;
}

.columna a {
  color: #333;
  padding: 8px 0;
  display: block;
}

.columna a:hover {
  color: #00bfff;
  padding-left: 10px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding:20px;
}

.columna{
    width: 220px;
}
footer p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#fff;
}
footer ul{
    list-style-type: none;
    padding:0;
}
footer li{
    margin-bottom: 5px;
}